@import "../../global/normalize.css";

.focus-indicator {
  padding: var(--ic-space-xxxs) var(--ic-space-xs);
  align-items: center;
}

input {
  border: 0;
  height: 100%;
  padding: 0;
  outline: none;
}

.day-input {
  width: 23px;
}

.day-input.has-value {
  width: 20px;
}

.month-input {
  width: 29px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
